.member__card {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: 2px solid black;
    width: 230px;
    height: 480px;
    background: rgb(179,158,147);
background: linear-gradient(90deg, rgba(179,158,147,1) 1%, rgba(204,197,184,0.8855917366946778) 73%);
    
  
}

.member__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    
}
